__pycache__/
*.py[cod]
*$py.class

*.so

.Python
build/
dist/
downloads/
eggs/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
.hypothesis/
pytestdebug.log
coverage.xml

*.mo
*.pot

*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
static/

.env
.venv
venv/ # <---- IGNORAR ESTA CARPETA
env/
env.bak/
venv.bak/

.dockerignore
docker-compose.override.yml

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db 